@if(loading){<mat-progress-bar  mode="indeterminate"></mat-progress-bar>}
<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content class="padding-top-5">
  <div>
    <mat-form-field class="margin-right-16" appearance="outline">
      <mat-label >First name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Placeholder" />
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Placeholder" />
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Birth Date</mat-label>
      <input [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="Placeholder" [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- <mat-hint>Please enter a date</mat-hint> -->
    </mat-form-field>
    <div>
      <mat-form-field class="margin-right-16 full-width" appearance="outline">
        <mat-label>Street + House Number</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Placeholder" />
        <!-- <mat-hint>Please enter a name</mat-hint> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="margin-right-16" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Placeholder" />
        <!-- <mat-hint>Please enter a name</mat-hint> -->
      </mat-form-field>
      <mat-form-field class="margin-right-16" appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="Placeholder" />
        <!-- <mat-hint>Please enter a name</mat-hint> -->
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<div class="padding-left-32">
<mat-dialog-actions >
  <button [disabled]="loading" mat-button>Cancel</button>
  <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
</div>