.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.userTable {
    th {
        color: rgba(0,0,0,.4);
        font-size: 14;
        font-weight: 500;
        text-align: start;
    }
    
}