<mat-card appearance="outlined">
  <mat-card-content>
    <table class="full-width userTable">
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>City</th>
      </tr>
      @for(user of allUsers; track allUsers) {
      <tr>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.city}}</td>
      </tr>
    }
    </table>
  </mat-card-content>
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
  [matTooltipPosition]="'above'"
>
  <mat-icon>add</mat-icon>
</button>
