<mat-card appearance="outlined">
  <mat-card-content>
    <table class="full-width userTable">
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>City</th>
      </tr>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>City</td>
       

      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
  [matTooltipPosition]="'above'"
>
  <mat-icon>add</mat-icon>
</button>
