
html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.margin-right-16 {
    margin-right: 16px;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.full-width {
    width: 100%;
}

.padding-left-32 {
    padding-left: 32px;
}

.mt-32 {
    margin-top: 32px;
}